@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.container{
    text-align: center;
    justify-content: center;
    word-spacing: normal;
    background: url('https://wallpapercave.com/wp/wp7620823.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.detailImg{
    width: 20%;
    height: 200px;
    margin-right: 50px;
    box-shadow:rgb(170, 239, 248);
    border-radius: 40px;
    border-style: 40px solid;
    border: solid 2px #c182eb;
    
}
.detailName{
    color: rgb(170, 239, 248);
    font-size: 40px;
}
.ctnGenre{
    margin-right: 50px;
    color: #dba8eb;
}
.titleGenre{
    font-size: 25px;
    color: black
    
}
.detailGenres{
    font-size: 18px;
    color: black;
}
.ctnRating{
    margin-right: 50px;
    color: #dba8eb;
}
.titleRating{
    font-size: 25px;
    color: rgb(170, 239, 248);
}
.detailRating{
    font-size: 18px;
    color: #dba8eb;
}
.ctnRelease{
    margin-right: 50px;
    color: rgb(170, 239, 248);
}
.titleRelease{
    font-size: 25px;
    color: rgb(170, 239, 248);
}
.detailRelease{
    font-size: 18px;
    color: #dba8eb;
}
.titlePlatforms{
    font-size: 25px;
    color: rgb(170, 239, 248);
}
.detailPlatforms{
    font-size: 18px;
    color: #dba8eb;
}
.ctnDescription{
    padding: 40px;
    color: #dba8eb;
}
.titleDescription{
    font-size: 25px;
    color: rgb(170, 239, 248);
}
.detailDescription{
    font-size: 18px;
    color: #dba8eb;
}
.span{
    margin: 0em 0.5em
}
