.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderContainer{
    width: 1000px;
    margin-top: 10px;
    margin-left: 15px;
}

.inputSearchContainer{
    margin-top: 10px;
}

.searchBox {

    width: 100%;
    margin-bottom:15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
   /*  margin-left: 100px; */
   margin-right: 300px;

  }

.inputSearch {
    width: 300px;
    border: 3px solid #aaa1c8;
    border-right: none;
    padding: 5px;
    height: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .inputSearch:focus{
    color: #aaa1c8;
  }
  
  .buttonSearch {
    width: 80px;
    height: 31px;
    border: 1px solid #aaa1c8;
    background: #aaa1c8;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  

  .wrap{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
  }