.container{
    display: flex;
    flex-direction: row;
    background: white;
    margin-top: 7px;
    margin-right: 600px;
}

.select{
    color:#333;
    margin: 1em 3em ;
    width: 8em;
    border: none;
    background-color: white
}

.select option{
    background-color:#d5c6e0
}

.containers{
    display: flex;
    flex-direction: column;
    height:40px;
    border-radius: 10px;
    background-color: white;
    /* background-color: #289bc817; */
    /* color: rgb(106, 202, 202); */
    margin: 0em 00.5em;
    color:#333;
    margin-bottom: 15px;
    box-shadow: 0px 3px #aaa1c8;
}